<div class="container app">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-center">{{title}}</h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable" *ngIf="msg">
        <a href="#" class="close" (click)="closeAlert()">
          &times;
        </a>
        {{msg}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
    <div class="col-sm-8">
      <h2>Creación de datos: </h2>
      <form class="form-horizontal">

        <div class="form-group">
          <label for="nombre" class="control-label col-sm-2">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="model.nombre" placeholder="Ingrese un nombre">
          </div>
        </div>

        <div class="form-group">
            <label for="posicion" class="control-label col-sm-2">Posición</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="posicion" name="posicion" [(ngModel)]="model.posicion" placeholder="Ingrese la posición del empleado">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="control-label col-sm-2">Correo electrónico</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model.email" placeholder="Ingrese el correo electrónico">
            </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" (click)="agregarEmpleado()">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h2>Lectura de datos</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Posición</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados; let i =  index">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.posicion}}</td>
            <td>{{empleado.email}}</td>
            <td>
              <a (click)="editarEmpleado(i)" class="btn btn-success">Editar</a>
              <a (click)="eliminarEmpleado(i)" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4" [hidden]="hideUpdate">
      <h2>Actualizar datos</h2>
      <form class="form-horizontal">
          <div class="form-group">
              <label for="nombre" class="control-label col-sm-2">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="model2.nombre" placeholder="Ingrese un nombre">
              </div>
            </div>
    
            <div class="form-group">
                <label for="posicion" class="control-label col-sm-2">Posición</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="posicion" name="posicion" [(ngModel)]="model2.posicion" placeholder="Ingrese la posición del empleado">
                </div>
            </div>
    
            <div class="form-group">
                <label for="email" class="control-label col-sm-2">Correo electrónico</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="email" name="email" [(ngModel)]="model2.email" placeholder="Ingrese el correo electrónico">
                </div>
            </div>
    
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" (click)="actualizarEmpleado()">Guardar cambios</button>
              </div>
            </div>
      </form>
    </div>
  </div>
</div>
  

